{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="login-container">
        <div class="login-inner">
            <div class="login-image"></div>
            <div class="login-box">
                <div class="login-box-inner">
                    <div class="login-logo-box">
                        <div class="login-logo"></div>
                    </div>
                    <div class="login-form-box">
                        <form method="post" action={% url 'login' %}>
                            <div class="login-form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" class="btn btn-primary"
                                       style="width: 75%; margin: 0 40px 6px 40px;" value="Войти">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="login-box-inner">
                    <div class="register-box">
                        <p class="register-text">У вас еще нет аккаунта?
                            <a href="{% url 'register' %}" class="register-link">Зарегистрироваться</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

