{% load static %}
<div class="card-size card me-2 mb-2">
    <a href="{% url 'photo_detail' photo.pk %}">
        <img src="{{ photo.photo.url }}" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <p class="description"><span>{{ photo.author.username }}:</span>{{ photo.caption }}</p>
        <p class="card-text">{{ photo.created_at }}</p>
        {% if footer == 'cards' %}
            <a href="{% url 'photo_detail' photo.pk %}" class="btn btn-secondary">Подробнее</a>
        {% elif footer == 'card' and user.pk == photo.author.pk or user.is_superuser is True %}
            <div class="buttons-inline my-2">
                <a class="btn btn-secondary me-2" href="{% url 'photo_update' photo.pk %}"
                   role="button">Edit</a>
                <form action="{% url 'photo_confirm_delete' photo.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-dark me-2" value="Delete">
                </form>
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <button type="button"
                    {% if photo in user.user_favorites.all %}
                    class="btn btn-outline-danger manage-favorite manage-favorite-{{ photo.id }} my-2"
                    {% else %}
                    class="btn btn-outline-success manage-favorite manage-favorite-{{ photo.id }} my-2"
                    {% endif %}
                    data-id={{ photo.id }}>
                {% if photo in user.user_favorites.all %}
                    Убрать из избранного
                {% else %}
                    Добавить в избранное
                {% endif %}
            </button>
        {% endif %}
    </div>
</div>
