{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block menu %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="content">
            <div class="card-group">
                {% for photo in photos %}
                    {% include 'partial/photo_card.html' with footer="cards" %}
                {% endfor %}
            </div>
            <div class="paginator-box">
                {% if is_paginated %}
                    {% include 'partial/pagination.html' %}
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/favorites.js' %}"></script>
{% endblock %}
